body {
	background-image: url('furrymain.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-size: 150%;
}

.container {
	background: white;
	border-radius: 5px;
	padding-bottom: 15px;
	padding-top: 15px;
	margin-top: 25px;
}